Package: denios-core
Version: 1.1.0
Architecture: amd64
Maintainer: Denis Maslo <denios-linux@proton.me>
Installed-Size: 3186
Depends: bash-completion, dnsutils, htop, nload, moreutils, nano, net-tools, whois, curl, wget, dconf-cli, rsync
Recommends: apparmor, apparmor-profiles, apparmor-profiles-extra, apparmor-utils, screen, sysv-rc, locate, neovim, figlet, plymouth, plymouth-themes
Suggests: denios-drivers, denios-core-lite
Conflicts: apt-denios, denios-skel
Breaks: apt-denios, denios-skel
Replaces: apt-denios, base-files, bash, denios-interface-common, denios-skel, dnsmasq, xterm
Section: denios
Priority: optional
Homepage: https://www.github.com/deniosm/denios-core
Description: Core package for Denios Gnu/Linux
 Core package for the Denios Debian distribution.
