Source: openbosniana-welcome
Section: utils
Priority: optional
Maintainer: Denis Maslo <deni@bosniana.org>
Build-Depends: cmake, qt6-base-dev, qt6-webengine-dev
Standards-Version: 4.6.2

Package: openbosniana-welcome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenBosniana Welcome Application
 A welcome application for OpenBosniana, built with Qt and modern C++.

