Package: denios-core-lite
Source: denios-core
Version: 1.1.1
Architecture: all
Maintainer: Denis Maslo <denios-linux@proton.me>
Installed-Size: 49
Depends: denios-core
Section: denios
Priority: optional
Homepage: https://www.github.com/deniosm/denios-core
Description: Lightweight MATE settings
  Lightweight core package for the Denios Debian distribution.
